.ConfigTilePane {
    -fx-padding: 10;
}

.ConfigPane {
    -fx-padding: 10;
}

.ConfigName {

}

.ConfigVBox {
    -fx-border-color: "gray";
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

.ConfigPropertyHBox {
    -fx-alignment: "center";
    -fx-spacing: 5;
}

.ConfigPropertyLabel {
    -fx-padding: 5;
}

.ConfigPropertyInputField {

}

.ConfigPropertyTextField {
    -fx-background-color: #d3d3d3;
    -fx-border-color: "gray";
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

